<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <title>Directive Controllers</title>
  <link href="../styles/bootstrap.css" rel="stylesheet"/>
  <link href="../styles/bootstrap-theme.css" rel="stylesheet"/>

  <script type="text/ng-template" id="template">
    <td>{{item.name}}</td>
    <td><input ng-model="item.quantity"/></td>
  </script>

  <script type="text/ng-template" id="resetTpl">
    <td colspan="2"><button class="btn btn-primary" ng-click="reset()">Reset</button></td>
  </script>

  <script type="text/javascript" src="../scripts/angular.js"></script>
  <script>
    angular.module("exampleApp", [])

        .directive('productItem', function () {
          return {
            template: document.querySelector('#template').outerText,
            require: '^productTable',
            link: function (scope, element, attrs, ctrl) {
              scope.$watch('item.quantity', function () {
                ctrl.updateTotal();
              });
            }
          };
        })

        .directive('productTable', function () {
          return {
            transclude: true,
            scope: {
              value: '=productTable',
              data: '=productData'
            },
            controller: function ($scope, $element, $attrs) {
              this.updateTotal = function () {
                var total = 0;
                for (var i = 0; i < $scope.data.length; i++) {
                  total += Number($scope.data[i].quantity);
                }
                $scope.value = total;
              }
            }
          }
        })

        .directive('resetTotals', function () {
          return {
            scope: {
              data: '=productData',
              propname: '@propertyName'
            },
            template: document.querySelector('#resetTpl').outerText,
            require: '^productTable',
            link: function (scope, element, attrs, ctrl) {
              scope.reset = function () {
                for (var i = 0; i < scope.data.length; i++) {
                  scope.data[i][scope.propname] = 0;
                }
                ctrl.updateTotal();
              };
            }
          }
        })

        .controller("defaultCtrl", function ($scope) {
          $scope.products = [
            {name: "Apples", price: 1.20, quantity: 2},
            {name: "Bananas", price: 2.42, quantity: 3},
            {name: "Pears", price: 2.02, quantity: 1}
          ];
        });
  </script>
</head>
<body ng-controller="defaultCtrl">

<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-striped" product-table="totalValue" product-data="products" ng-transclude>
      <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in products" product-item></tr>
      <tr>
        <th>Total:</th>
        <td>{{totalValue}}</td>
      </tr>
      <tr reset-totals product-data="products" property-name="quantity"></tr>
      </tbody>
    </table>
  </div>
</div>


</body>
</html>