<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <title>Directives</title>
  <link href="../styles/bootstrap.css" rel="stylesheet"/>
  <link href="../styles/bootstrap-theme.css" rel="stylesheet"/>

  <style>
    td > *:first-child {
      font-weight: bold;
    }

    tr.Red { background-color: lightcoral; }
    tr.Green { background-color: lightgreen; }
    tr.Blue { background-color: lightblue; }
  </style>

  <script type="text/javascript" src="../scripts/angular.js"></script>
  <script>
    angular.module("exampleApp", []).controller("defaultCtrl", function ($scope) {

      $scope.todos = [
        {action: "Get groceries", complete: false},
        {action: "Call plumber", complete: false},
        {action: "Buy running shoes", complete: true},
        {action: "Buy flowers", complete: false},
        {action: "Call family", complete: false}
      ];

      $scope.buttonNames = ['Red', 'Green', 'Blue'];

      $scope.data = {
        rowColor: 'Blue',
        columnColor: 'Green'
      };

      $scope.handleEvent = function (e) {
        console.log('Event type: ' + e.type);
        $scope.data.columnColor = e.type === 'mouseover' ? 'Green' : 'Blue';
      };

    }).directive('tap', function () {
      return function (scope, elem, attrs) {
        elem.on('touchstart', function () {
          scope.$apply(attrs['tap']);
        });
      };
    });
  </script>
</head>
<body>
<div id="todoPanel" class="panel" ng-controller="defaultCtrl">

  <h3 class="panel-header">To Do List</h3>

  <div class="well">
    <sapn ng-repeat="button in buttonNames">
      <button class="btn btn-info" ng-click="data.rowColor = button">
        {{button}}
      </button>
    </sapn>
  </div>

  <div class="well" tap="message = 'Tapped!'">
    {{message}}
  </div>

  <div>
    <table class="table">
      <tr>
        <th>#</th>
        <th>Action</th>
        <th>Done</th>
      </tr>
      <tr ng-repeat="item in todos" ng-class="data.rowColor"
          ng-mouseenter="handleEvent($event)"
          ng-mouseleave="handleEvent($event)">
        <td>{{$index + 1}}</td>
        <td>{{item.action}}</td>
        <td ng-class="data.columnColor">{{item.complete}}</td>
      </tr>
    </table>
  </div>

</div>

</body>
</html>